<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softcare.raphnote">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".db.NoteApp"
        android:allowBackup="true"
        android:icon="@drawable/a_note_w"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/a_note_w"
        android:supportsRtl="true"
        android:theme="@style/Theme.RaphNote">

        <activity
            android:name=".EditActivity"
            android:theme="@style/Theme.RaphNote.NoActionBar"
            android:windowSoftInputMode="stateUnchanged"/>
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".StartActivity"
            android:theme="@style/Theme.RaphNote.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.RaphNote.NoActionBar">

        </activity>
    </application>

</manifest>